.search-bar-container {
    position: relative;
    border: 1px solid #e4e4e4;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
    line-height: 30px;
}

.search-input {
   border: none;
    border-radius: 20px;
    padding-left: 15px;

}

.search-input:focus {
    outline: none;
}

.search-button {
    float: right;
    height: 32px;
    padding: 0 10px;
    background-color: whitesmoke;
    border-radius: 20px;
}

.search-button:hover {
    cursor: pointer;
}