.modal-create-user-form input {
    display: flex;
    margin-bottom: 20px;
    font-size: 30px;
    color: #3b3b3b;
    border: 1px solid #bbbbbb;
    padding-left: 10px;
    border-radius: 8px;
    pointer-events: auto;
    width: 100%;
}

.permission-select {
    display: flex;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 30px;
    color: #3b3b3b;
    border: 1px solid #bbbbbb;
    border-radius: 8px;
    width: 100%;
    height: 50px;
}

.permission-select:focus {
    outline: none;
}

.modal-create-user-form input:focus {
    outline: none;
}

.modal-create-user-form input.validation-warning:focus {
    color: #3b3b3b;
}

.modal-create-user-form input.validation-warning {
    color: red;
}

.modal-button-save {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 310px;
    position: relative;
    width: 150px;
    padding: 10px;
    color: gray;
    background-color: #dedede;
    border-radius: 8px;
}

.modal-button-save.disabled {
    opacity: .5;
    pointer-events: none;
}

.modal-button-save:hover {
    cursor: pointer;
    opacity: .8;
}