.delete-button {
    position: absolute;
    right: 0;
    background-color: whitesmoke;
    width: 250px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    line-height: 50px;
    border: 1px solid #adadad;
    border-radius: 8px;
    bottom: 20px;
    margin-right: 20px;
    color: #c7110b;
}

.delete-button:hover {
    cursor: pointer;
    background-color: #e8e8e8;
}

.delete-button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.row {
    /*display: flex;*/
}

.column {
    float: left;
}

.column.left {
    width: 40%;
    min-width: 500px;
}

.column.right {
    width: 60%;
    height: 800px;
    min-width: 700px;
}

.user-title {
    margin: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    border-bottom: 1px solid #dddddd;
}
