.w3-bar .close-button {
    white-space: normal;
    padding: 14px 14px;
    color: gray;
}

.w3-bar .close-button:hover {
    cursor: pointer;
    color: #313131;
}

.group-logo {
    float: left;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    padding-top: 5px;
    color: #fff;
    font-size: 25px;
    background-color: #f57400;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.w3-bar .w3-bar-item {
    display: block;
    width: calc(100% - 110px);
    border-right: 1px solid #e8e8e8;
}

.w3-bar-item:hover {
    cursor: pointer;
}