.header {
    overflow: hidden;
    background-color: white;
    padding: 30px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 10px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 35px;
    font-weight: bold;
    color: #5a5a5a;
}

.header a:hover {
    background-color: white;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    padding: 20px;
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}