.users-buttons-container {
    float: right;
    margin: 10px;
}

.users-table-container {
    width: 100%;
    padding: 10px;
}

.users-table {
    width: 100%;
    font-family: 'PT Sans Caption';
    color: #3b3b3b;
    font-size: 15px;
    border-collapse: collapse;
}

.users-table th, td {
    text-align: left;
    padding: 8px;
}

.users-table th:first-child {
    width: 50px;
}

.users-table tr:nth-child(even){
    background-color: #f8f8f8
}

.users-table tr:hover {
    background-color: #f6f6f6;
    cursor: pointer;
}

.users-table th {
    background-color: #097999;
    color: white;
}
